*{
    margin: 0;
}

body{
    background-color: ghostwhite;
}

section.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 100vh;    
}
section.container article.content *{
    display: block;
    padding: 10px;
    margin: auto;
}
section.container article.content .open-btn{
    margin: 20px auto;
}
section .open-btn{
    cursor: pointer;
    border: none;
    border-radius: 7px;
    height: 50px;
    width: 150px;
    background-color: #3a3dcf;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
}
section .open-btn:hover{
    background-color: #4f69c4;
}
section .popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000d0;
    transform: translateY(-100%);
    transition: transform 1s;
}
article.content.blur{
    filter: blur(2px);
}
section .popup h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}